@import "../../app/breakpoints";

.slideShow {
  display: flex;
  flex: 1;
  max-height: 415px;
  // border: solid 2px black;
  border-radius: 25px;
  overflow: hidden;
  margin: 30px 0;
  position: relative;
}

.img {
  object-fit: cover;
  flex: 1;
}

// permet de faire ressortir les flèches blanches
.masque {
  background-color: var(--darkColor);
  opacity: 0.1;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

// composant parent des 2 boutons
.arrows {
  // border: 1px solid black;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    left: 20px;
    right: 20px;
  }
  width: 100%;
  height: 100%;
}

// chaque bouton contient un composant svg flèche
.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 79px;
  max-width: 5%;

  // border: 1px solid black;
}

//index de l'image affichée sur le carroussel
.indexPicture {
  z-index: 4;
  // border: 2px black solid;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: var(--indexSize-d);
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .banner {
    border-radius: 10px;
  }
  .bannerTitle {
    font-size: var(--homeTitleSize-m);
  }
  .arrowButton {
    min-width: 12px;
  }
}
