@import "../../../app/breakpoints";

.collapseHeader {
  background-color: var(--primary-1);
  display: flex;
  border-radius: 10px;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
}

.collapseTitle {
  font-size: var(--collapseTitleSize-d);
  color: white;
}

.collapseButton {
  background-color: var(--primary-1);
  border: none;
  height: 100%;
  cursor: pointer;
}

// .about .collapseTitle {
//   font-size: var(--aboutCollapseTitleSize-d);
// }

@media (max-width: $mobileBreakPoint) {
  .collapseHeader {
    border-radius: 5px;
    padding: 6px 12px;
  }

  .collapseTitle {
    font-size: var(--collapseTitleSize-m);
  }
}
