.abstract {
  // border: 2px black solid;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.house {
  // border: 2px yellow solid;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}
.house__title {
  font-size: var(--singleProdTitleSize-d);
}
.house__location {
  font-size: var(--singleProdSubtitleSize-d);
}
.house__tagTab {
  display: flex;
  gap: 10px;
}
.house__tagTab__tag {
  font-size: var(--tagSize-d);
  border-radius: 10px;
  background-color: var(--primary-1);
  color: white;
  padding: 5px;
  min-width: 115px;
  text-align: center;
}
.host {
  // border: 2px red solid;
  display: flex;
  flex-direction: column;
}
.host__infos {
  display: flex;

  // border: 3px black solid;
  align-items: center;
}
.host__name {
  font-size: var(--hostNameSize-d);
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 5px;
}
.host__portrait {
  width: var(--hostPictureSize-d);
  height: var(--hostPictureSize-d);
  border-radius: 50%;
  overflow: hidden;
}
.host__portrait__img {
  max-width: 100%;
}
.host__rating {
  // border: 2px blue solid;
  display: flex;
}
