@import "../../app/breakpoints";

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-size: var(--hostNameSize-d);
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 5px;
}
.portrait {
  width: var(--hostPictureSize-d);
  height: var(--hostPictureSize-d);
  border-radius: 50%;
  overflow: hidden;
}
.portrait__img {
  max-width: 100%;
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .name {
    font-size: var(--hostNameSize-m);
  }
  .portrait {
    width: var(--hostPictureSize-m);
    height: var(--hostPictureSize-m);
  }
}
