@import "../../app/breakpoints";

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  border-radius: 25px;
  // border: 2px black solid;
  gap: 50px;
  padding: 50px;
  background-color: var(--neutral-1);
}

.cardItem {
  height: 340px;
  width: 340px;
  // border: 2px brown solid;
  // flex: 1;

  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .cardList {
    flex-direction: column;
    align-items: center;
    background-color: white;
    // border: 2px green solid;
    padding: 20px;
    gap: 20px;
  }
  .cardItem {
    width: 100%;
  }
}
