.collapseItem {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}

.about {
  .collapseTitle {
    font-size: var(--aboutCollapseTitleSize-d);
  }
  .collapseTxt {
    font-size: var(--aboutCollapseTxtSize-d);
  }
}
