@import "../../app/breakpoints";

.collapseItem {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  // border: 3px pink solid;
}

.about {
  .collapseTitle {
    font-size: var(--aboutCollapseTitleSize-d);
  }
  .collapseTxt {
    font-size: var(--aboutCollapseTxtSize-d);
  }
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .collapseItem {
    border-radius: 5px;
  }
}
