@import "./breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* ============
  VARIABLES CSS
  ============= */

:root {
  /*==color==*/
  --primary-1: #ff6060;
  --neutral-1: #f7f7f7;
  --darkColor: black;
  --shinyStar: #ff6060;
  --darkStar: #e3e3e3;

  /*==desktop==*/

  --headFootSize-d: 1.5rem;
  --homeTitleSize-d: 3rem;
  --cardTitleSize-d: 1.13rem;
  --singleProdTitleSize-d: 2.25rem;
  --singleProdSubtitleSize-d: 1.13rem;
  --tagSize-d: 0.88rem;
  --aboutCollapseTitleSize-d: 1.5rem;
  --aboutCollapseTxtSize-d: 1.5rem;
  --collapseTitleSize-d: 1.13rem;
  --collapseTxtSize-d: 1.13rem;
  --hostNameSize-d: 1.13rem;
  --hostPictureSize-d: 4rem;
  --starSize-d: 2.25rem;
  --indexSize-d: 1.13rem;
  --404-title-d: 18rem;
  --404-subtitle-d: 2.25rem;
  --404-link-d: 1.12rem;

  /*==mobile==*/

  --headFootSize-m: 0.8rem;
  --homeTitleSize-m: 1.5rem;
  --cardTitleSize-m: 1.13rem;
  --singleProdTitleSize-m: 1.13rem;
  --singleProdSubtitleSize-m: 0.88rem;
  --tagSize-m: 0.63rem;
  --collapseTitleSize-m: 0.81rem;
  --collapseTxtSize-m: 0.75rem;
  --hostNameSize-m: 0.75rem;
  --hostPictureSize-m: 2rem;
  --starSize-m: 1.13rem;
  --404-title-m: 6rem;
  --404-subtitle-m: 1.13rem;
  --404-link-m: 0.88rem;
}

/* =============
  BALISES BRUTES
  ============== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1;
}

html {
  // (taille par defaut 16px)
  font-size: 16px; //desktop
  // font-size: 10px; //mobile
}

#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  min-height: 100vh;
  // min-width: 375px;
  font-family: "Montserrat", sans-serif;
  // border: 10px orange solid;
}

main {
  // padding: 0px 60px;
  // display: flex;
  flex: 1;
  // border: 4px blue solid;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: {
    left: 100px;
    right: 100px;
  }
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  color: var(--primary-1);
  font-weight: 500;
}

li {
  list-style-type: none;
  color: var(--primary-1);
}

/*****************
 **Media Queries**
 *****************/
@media (max-width: $mobileBreakPoint) {
  main {
    padding: 0;
  }
}
