@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* ============
  VARIABLES CSS
  ============= */

:root {
  /*==color==*/
  --primary-1: #ff6060;
  --neutral-1: #f7f7f7;
  --darkColor: black;

  /*==desktop==*/

  --headerSize-d: 1.71rem;
  --homeTitleSize-d: 3.43rem;
  --cardTitleSize-d: 1.29rem;
  --singleProdTitleSize-d: 2.57rem;
  --singleProdSubtitleSize-d: 1.29rem;
  --tagSize-d: 1rem;
  --aboutCollapseTitleSize-d: 1.71rem;
  --aboutCollapseTxtSize-d: 1.71rem;
  --collapseTitleSize-d: 1.29rem;
  --collapseTxtSize-d: 1.29rem;
  --hostNameSize-d: 1.29rem;
  --hostPictureSize-d: 4.57rem;
  --starSize-d: 2.57rem;
  --flagSize-d: 1.29rem;
  --404-title-d: 20.57rem;
  --404-subtitle-d: 2.57rem;
  --404-link-d: 1.285rem;

  /*==mobile==*/

  --headerSize-m: 1.2rem;
  --homeTitleSize-m: 2.4rem;
  --cardTitleSize-m: 1.8rem;
  --singleProdTitleSize-m: 1.8rem;
  --singleProdSubtitleSize-m: 1.4rem;
  --tagSize-m: 1rem;
  --collapseTitleSize-m: 1.3rem;
  --collapseTxtSize-m: 1.2rem;
  --hostNameSize-m: 1.2rem;
  --hostPictureSize-m: 3.2rem;
  --starSize-m: 1.8rem;
  --404-title-m: 6.86rem;
  --404-subtitle-m: 1.285rem;
  --404-link-m: 1rem;
}

/* =============
  BALISES BRUTES
  ============== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1;
}

html {
  // (taille par defaut 16px)
  font-size: 14px; //desktop
  // font-size: 10px; //mobile
}

#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  min-height: 100vh;
  // min-width: 375px;
  font-family: "Montserrat", sans-serif;
  // border: 10px orange solid;
}

main {
  // padding: 0px 60px;
  // display: flex;
  flex: 1;
  // border: 4px blue solid;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  color: var(--primary-1);
  font-weight: 500;
}

li {
  list-style-type: none;
  color: var(--primary-1);
}

/* ======================
  ENCAPSULEURS DE CONTENU
  ======================= */
