@import "../../app/breakpoints";

nav {
  display: flex;
  max-width: 50%;
  gap: 60px;
  align-items: center;
  // border: black solid 2px;
}

.navLink {
  // border: 2px solid black;
  outline: none;
  text-decoration: none;
  color: var(--primary-1);
  font-size: var(--headFootSize-d);
  &:hover,
  &:focus,
  &:active {
    text-shadow: var(--primary-1) 1px 0 3px;
  }
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  nav {
    gap: 10px;
  }
  .navLink {
    font-size: var(--headFootSize-m);
  }
}
