@import "../../app/breakpoints";

.collapseContainer {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  // flex: 1;
  border: 4px purple solid;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

.collapseTxt {
  line-height: 142%;
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .collapseContainer {
    flex-direction: column;
    gap: 30px;
  }
  .main {
    padding: {
      left: 20px;
      right: 20px;
    }
  }
}
