@import "../../app/breakpoints";

.card {
  // height: 340px;
  height: 100%;
  // width: 340px;
  width: 100%;
  gap: 10px;
  display: flex;
  position: relative;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.title {
  color: var(--neutral-1);
  font-size: var(--cardTitleSize-d);
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  position: absolute;
  bottom: 0;
}

.masque {
  height: 100%;
  width: 100%;
  position: absolute;
  /*Gradient linéaire vers le bas:
  blanc --> noir(50% d'opacité)*/
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

/*****************
 **Media Queries**
 *****************/

@media (max-width: $mobileBreakPoint) {
  .card {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
  .title {
    font-size: var(--cardTitleSize-m);
  }

  .cover {
    width: 100%;
    object-fit: cover;
  }
}
